.footer{
    margin-top: 3%;
        height: 330px;
        /* height: auto; */
        width: 100%;
        background-color: #F9F9F9;
        padding: 3%;
    }

    

    .details {
        height: 350px;
        width: 100%;
        /* border: 1px solid black; */
       
        display: flex;
        justify-content: space-between;
    }

    
    .first {
       
        width: 100%;
        margin-right: 10%;
    }

    .first li {
        list-style-type: none;
        margin: 12px -35px
    }

    .first h6 {
        margin: 2px 2px;
        color: rgb(46, 45, 45);
    }

    .first li a , .baseline>a{
        text-decoration: none;
        color:grey;
        font-size: 13px;
        /* margin-left: 5px; */
    }
    .first li a:hover {
      text-decoration: underline;
      color: #3b9eb4;
      
    }

    .endo div a:hover{
      text-decoration: underline;
      color: #3b9eb4;
    } 

    .baseline a:hover{
      text-decoration: underline;
      color: #3b9eb4;
    }


    .endo>div{
      display: flex;
      /* justify-content: space-between; */
      gap: 5px;
    }

    .endo>div>img{
      max-width: 100%;
      height: 20px;
      width: 20px;
    }

    .app>img{
      padding-top:10%;
      gap: 200px;
    }

    .endo{
      padding-top: 2%;
      /* border: 2px solid black; */
      width: 220%;
      height: auto;
    }

    .endo>div>a{
      color: rgb(46, 45, 45);
      text-decoration: none;
      color:grey;
      font-size: 15px;
    }

    .baseline>a{
      font-size: 12px;
      color: rgb(46, 45, 45);
      color:grey;
      margin-right: 50px;
    }